body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.btn-singerpage {
    position: relative;
}
.btn-singerpage, .btn-musicpage {
    width: 260px;
    height: 560px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
}