@import "reset.css";

body {
    width: 340px;
    padding-left: 10px;
}
a {
    text-decoration: none;
    color: black;
}
.status-bar {
    background-color: #ffce32;
    padding: 30px 10px 50px;
}
.status-bar__btn {
    display: flex;
    justify-content: space-between;
}
.status-bar__list:nth-child(2) a{
    font-size: 20px;
    font-weight: bold;
}
.btn-search__form {
    margin: 0px 10px 0px 10px;
    display: flex;
    width: 320px;
    height: 50px;
    border: 1px solid black;
    align-items: center;
    justify-content: space-between;
    border-radius: 60px;
    padding: 0px 15px 0px 30px;
    box-sizing: border-box;
}
.btn-bookday {
    display: flex;
    margin: 20px 0px 35px 0px;
}
.btn-bookday__img {
    width: 160px;
}
.btn-bookday__img span {
    font-size: 20px;
    font-weight: bold;
}
.btn-bookday__img img {
    margin-top: 10px;
    border-radius: 20px;
}
.btn-bookday__inpo {
    margin-top: 40px;
}
.btn-bookday__inpo p{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.btn-bookday__inpo span {
    font-size: 14px;
    color: #e3e3e3;
    font-weight: bold;
}
.btn-bookday__star {
    margin: 10px 0px 15px;
}
.btn-bookday__gener {
    margin-bottom: 50px;
}
.gener {
    width: 70px;
    height: 25px;
    background-color: #f7f7f7;
    color: black;
    opacity: 0.7;
    border: none;
    cursor: pointer;
}
.gener:hover {
    color: blue;
    opacity: 1;
}
.btn-bookday__keep {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    margin-right: 25px;
    cursor: pointer;
}
.btn-bookday__keep:active {
    background-color: #ffce32;
}
.btn-bookday__buy {
    width: 80px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.btn-bookday__buy:active {
    background-color: white;
    color: black;
    border: none;
}
.btn-best__title {
    font-size: 20px;
    font-weight: bold;
}
.btn-best__list {
    margin-top: 20px;
    display: flex;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
a img {
    border-radius: 25px;
    margin: 10px;
}
.btn-author {
    display: flex;
}
.btn-author__img {
    margin-right: 20px;
}
.btn-author__img p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px
}
.btn-author__intro {
    margin-top: 40px;
}
.btn-author__intro p {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
.btn-author__intro span {
    font-size: 12px;
    color: #e9e9e9;
    font-weight: bold;
}